node_modules
dist
.env
.env.local
**/*.tsbuildinfo
**/*.db
**/*.db-shm
**/*.db-wal
data/
**/data/
data/screenshots
data/html-failures
data/logs
*.log
.DS_Store
playwright/.cache
playwright-report
test-results
